certifi==2018.8.24
chardet==3.0.4
docopt==0.6.2
idna==2.7
jedi==0.12.1
parso==0.3.1
pbr==4.2.0
prompt-toolkit==1.0.15
ptpython==0.41
Pygments==2.2.0
requests==2.19.1
six==1.11.0
stevedore==1.29.0
tornado==5.1
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
