body {
  color: #004685;
  background: url("../images/baseball.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F7EEE6;
}

h1, h3, #gameInfo h4, p, #disclaimer, .centered, #gameInfo h5 {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.columns {
  padding-bottom: 20px;
}

.main-stories {
  background-color: rgba(255,255,255,.9);
  color: #F7742C;
  padding: 5%;
  overflow-y: scroll;
  padding-bottom: 15px;
}

.main-stories p a, span {
  color: #004685;
  font-weight: bold;
}
.main-stories p {
  text-align: left;
}

.main-stories p a:hover {
  color:#F7742C;
}

.weatherWidget {
  position: absolute;
}

.status-tab {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #F7742C;
  padding: 5px 5px 0;
}

.status-tab h6 {
  font-weight: bold;
  display: inline-block;
}
.game-head {
  text-align: center;
  background: white;
}

.game-boxes, .no-game-box {
  border-radius: 5px;
  background-color: rgba(255,255,255,.9);
  margin-bottom: 1rem;
  cursor: pointer;
}

.game-div {
  padding-right: 0;
}

.score-bold {
  font-weight: bold;
  text-transform: uppercase;
}

.game-title, .score-bold, .game-pitchers {
  padding-left: 5px;
}

.preview-line {
  text-align: center;
}

.preview h3, .final h3 {
  font-weight: bold;
}

#venueModal{
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 600px;*/
}

.loadingEff{
  text-align: center;
}

.trans{
  background-color: rgba(255, 255, 255, 0.9);
}

#gameScroll{
  overflow-y: scroll;
  padding-bottom: 15px;
}

.div_header{
  font-size: 1.5rem
}

@media (max-width:639px) {
  .weatherWidget {
    position: static;
    margin-bottom: 10px;
  }

  @media screen and (max-height: 750px){
    .columns {
      padding-right: 4rem;
      padding-left: 4rem;
    }
  }
}
