<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Daily MLB Update</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/scrape.css") }}">
  </head>
  <body>
    <h1>DAILY MLBriefing</h1>

    <div class="weatherWidget medium-3" id="Standings" title="Standings">
      <h3 id="wuTitle" class="game-head">Current Standings</h3>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script type="text/javascript" src="{{ static_url("scripts/main.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("scripts/standings.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("scripts/box_scores.js") }}"></script>
  </body>
</html>
